*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Great Vibes', cursive;
font-family: 'Raleway', sans-serif; */

body {
    display: flex;
    justify-content: center;
    background-image: url('fondo3.jpg');
    background-size: cover;
    position: relative;
}

/* body::before {
    content: '';
    position: absolute;
    --spacer: 0em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    transform: var(--level-one);
    background-color: rgba(140, 158, 160, 0.089);
    width: 100vw;
    height: 100vh;
} */

.card {
    height: 610px;
    width: 610px;
    max-height: 610px;
    max-width: 610px;
    margin-top: 5vh;
    /* background-color: rgb(210, 245, 233); */
}

.card-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
}

.card-front, 
.card-back {
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    width: 600px;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-front {
    transform-style: preserve-3d;
    background-image: url('xv8test.jpg');
    background-position: center;
    background-size: cover;
}

.card-front h5 {
    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 180px;
    transform: translateZ(100px);
}

.card-back {
    transform: rotateY(0.5turn);
    transform-style: preserve-3d;
    background-image: url('xv8test.jpg');
    background-position: center;
    background-size: cover;
}

.card-back p:nth-of-type(1) {
    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    transform: translateZ(100px);

}

.card-back p:nth-of-type(2) {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    transform: translateZ(100px);

}
.card:hover .card-container {
    transform: rotateY(0.5turn);
}

.card-container {
    /* transform: rotateY(90deg); */
    transform-style: preserve-3d;
}

img {
    /* position: absolute; */
    width: 225px;
    height: 137px;
    transform: translateZ(70px);
    background: url(crown1.png);
}

@media (max-width: 375px) {

    body {
        background-position: center;
    }
    .card {
        width: 340px;
        height: 573px;
        margin-top: 10vh;

    }

    .card-back, 
    .card-front {
        width: 100%;
        height: 100%;
    }

    img {
        width: 114px;
        height: 69px;
    }

    .card-front h5 {
        font-size: 96px;
        line-height: 120px;
    }

    .card-back p:nth-of-type(1) {
        font-size: 64px;
        line-height: 80px;
    }

    .card-back p:nth-of-type(2) {
        font-size: 24px;
        line-height: 28px;
    
    }

}